<h1>Get to Know the Team</h1>
<p>The Git2Travelin' Team is 3 junior developers thrown together by fate and a team assignment for DigitalCrafts
    Full-Stack Developer bootcamp. They have a passion for traveling and are seeking to improve your experience while
    planning a future trip.</p>

<div id="aboutDavid">
    <p>Picture</p>
    <p>Little Excerpt</p>
    <p>Links to Social, GitHub, etc.</p>
</div>

<div id="aboutDaniel">
    <p>Picture</p>
    <p>Little Excerpt</p>
    <p>Links to Social, GitHub, etc.</p>
</div>
<div id="aboutNick">
    <p>Picture</p>
    <p>Little Excerpt</p>
    <p>Links to Social, GitHub, etc.</p>
</div>