
<div class="header">
    <h1>About Us</h1>
</div>

<div class="flex-box1">

    <div class="about-us-card">
        <img src="../public/images/Daniel img.jpg" alt="Nick" style="width:100%">
        <div class="member-info">

            <h4><b>Nick Aldridge</b></h4>
            <p>Web Developer</p>
        </div>
        <div class="gitlinks"> </div>

    </div>

    <div class="about-us-card">
        <img src="../public/images/David img.jpg" alt=""jpeg" alt="David" style="width:100%">
        <div class="member-info">

            <h4><b>David Vasek</b></h4>
            <p>Web Developer</p>
        </div>
        <div class="gitlinks"> </div>

    </div>


    <div class="about-us-card">

        <img src="../public/images/Daniel img.jpg" alt="Daniel" style="width:100%">
        <div class="member-info">

            <h4><b>Daniel Agbenu</b></h4>
            <p>Web Developer</p>
        </div>
        <div class="gitlinks"> </div>

    </div>

</div>



































<h1>Get to Know the Team</h1>
<p>The Git2Travelin' Team is 3 junior developers thrown together by fate and a team assignment for DigitalCrafts
    Full-Stack Developer bootcamp. They have a passion for traveling and are seeking to improve your experience while
    planning a future trip.</p>

<div id="aboutDavid">
    <p>Picture</p>
    <p>Little Excerpt</p>
    <p>Links to Social, GitHub, etc.</p>
</div>

<div id="aboutDaniel">
    <p>Picture</p>
    <p>Little Excerpt</p>
    <p>Links to Social, GitHub, etc.</p>
</div>
<div id="aboutNick">
    <p>Picture</p>
    <p>Little Excerpt</p>
    <p>Links to Social, GitHub, etc.</p>
</div>