<h1>New User Registration</h1>

<form action="/users/register" method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" placeholder="Ben" />
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" placeholder="Kenobi" />
    <label for="user_name">Desired Username:</label>
    <input type="text" name="user_name" placeholder="Obi1Kenobi" />
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="correct horse battery staple" />
    <button type="submit">Register Me!</button>
</form>