<h1>Begin Your Journey Here</h1>


<form id="tripDates">
    <ul>
        <label for="location">Where Are You Going?</label>
        <input type="text" name="location">
    </ul>
    <ul>
        <label for="fromDate">From:</label>
        <input type="date" name="fromDate">
    </ul>
    <ul>
        <label for="toDate">To:</label>
        <input type="date" name="toDate">
    </ul>
</form>

<form id="tripLog">
    <input type="hidden" name="location" value
</form>
${!!is_logged_in ?
    `<button type="submit"></button> `
    :
    ` `}